css

bodt{
    background-color:rgb(252, 250, 233);
}

#GridContainer {
    display: grid;
    grid-template-areas:
     'header header header'
     'left main main'
     'left main main'
}

#item1{
    grid-area: header;
    width: 100%;
    background-color: rgb(194, 221, 219);
    height: 33vh;
    
}

#item2{
    grid-area: left;
    width: 100%;
    background-color: rgb(94, 96, 97);
    height: 66vh;
}


#item3{
    grid-area: main;
    width:100%;
    background-color: rgb(255, 255, 255);
    height:66vh;
}

/* התאמה למסך קטן*/
@media only screen and (max-width: 600px) {
   body {
       background-color:rgb(128, 0, 0) ;
   }
   #GridContainer { /* עשינו גריד חדש*/
    display: grid;
    grid-template-areas: /* כדי להתאים לו ליוט*/
     'header'
     'left'
     'main'
}

}

